<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="CargoLogistics Pro">
    <meta name="keywords" content="Consigment, Logistics">
    <meta name="author" content="CargoLogistics Pro">
    <meta name="robots" content="noindex, nofollow">
    <title>CargoLogistics Pro</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/amaz1.jpeg' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('pzn5nz44urxr');
</script>
<!-- End of Async Drift Code -->
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a href="{% url 'home' %}" class="logo logo-normal">
<img src="{% static 'assets/img/logo2.png' %}" alt>
</a>
                <a href="{% url 'home' %}" class="logo logo-white">
<img src="{% static 'assets/img/logo2.png' %}" alt>
</a>
                <a href="{% url 'home' %}" class="logo-small">
<img src="{% static 'assets/img/logo2.png' %}" alt>
</a>
                <a id="toggle_btn" href="javascript:void(0);">
<i data-feather="chevrons-left" class="feather-16"></i>
</a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>

            <ul class="nav user-menu">

                <li class="nav-item nav-searchinputs">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
<i class="fa fa-search"></i>
</a>
                        <form action="#">
                            <div class="searchinputs">
                                <div class="search-addon">
                                    <span></span>
                                </div>
                            </div>

                        </form>
                    </div>
                </li>




                <li class="nav-item nav-item-box">
                    <a href="javascript:void(0);" id="btnFullscreen">
                        <i data-feather="maximize"></i>
                        </a>
                </li>


                <li class="nav-item dropdown nav-item-box">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i data-feather="bell"></i><span class="badge rounded-pill">2</span>
                        </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                        </div>
                            <!-- core/transactions.html -->
                            <div class="noti-content">
                                
                                <ul class="notification-list">  
                                    <li class="notification-message">
                                        <a>
                                            <div class="media d-flex">
                                                <!-- Display notification content here -->
                                                <span class="avatar flex-shrink-0">
                                                    <img alt src="{% static 'assets/img/logo2.png' %}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">Cargo Logistics</span> Welcome Aboard.
                                                        <span class="noti-title">Enjoy Our Fastest Services</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">{{ obj.contact_date|naturaltime }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% for obj in notifications %}   
                                    <li class="notification-message">
                                        <a>
                                            <div class="media d-flex">
                                                <!-- Display notification content here -->
                                                <span class="avatar flex-shrink-0">
                                                    <img alt src="{{ obj.image.url }}">
                                                </span>
                                                <div class="media-body flex-grow-1">
                                                    <p class="noti-details">
                                                        <span class="noti-title">{{ obj.name }}</span> {{ obj.subject }}
                                                        <span class="noti-title">{{ obj.message }}</span>
                                                    </p>
                                                    <p class="noti-time">
                                                        <span class="notification-time">{{ obj.contact_date|naturaltime }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                                
                            </div>

                        <div class="topnav-dropdown-footer">
                            <a href="javascript:void"> Notifications</a>
                        </div>

                    </div>
                </li>


                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
<span class="user-info">
<span class="user-letter">
<img src="{{ user.account.picture.url }}" alt class="img-fluid">
</span>
<span class="user-detail">
<span class="user-name">{{ user.username }}</span>
<span class="user-role">{% if user.status == 'PENDING' %}
    <p class="link pending"><span style="color: darkolivegreen;">{{ user.status }}</span> <em class="icon ni ni-info" style="color: lightseagreen;"></em></p>
{% elif user.status == 'UNVERIFIED' %}
    <p class="link unverified"><span style="color: red;">{{ user.status }}</span> <em class="icon ni ni-alert" style="color: red;"></em></p>
{% elif user.status == 'VERIFIED' %}
    <p class="link verified"><strong><span style="color: green; font-weight: bold;">{{ user.status }}</span></strong> <em class="icon ni ni-check-circle" style="color: green;"></em></p>
{% endif %}</span>
</span>
</span>
</a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img"><img src="{{ user.account.picture.url }}" alt>
<span class="status online"></span></span>
                                <div class="profilesets">
                                    <h6>{{ user.username }}</h6>
                                    <h5><span class="user-role">{% if user.status == 'PENDING' %}
    <p class="link pending"><span style="color: darkolivegreen;">{{ user.status }}</span> <em class="icon ni ni-info" style="color: lightseagreen;"></em></p>
{% elif user.status == 'UNVERIFIED' %}
    <p class="link unverified"><span style="color: red;">{{ user.status }}</span> <em class="icon ni ni-alert" style="color: red;"></em></p>
{% elif user.status == 'VERIFIED' %}
    <p class="link verified"><strong><span style="color: green; font-weight: bold;">{{ user.status }}</span></strong> <em class="icon ni ni-check-circle" style="color: green;"></em></p>
{% endif %}</span></h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" > <i class="me-2" data-feather="user"></i> Account ID</a>
                            <a class="dropdown-item" ><i class="me-2" data-feather="settings"></i>***94{{ user.account_no }}0</a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="{% url 'accounts:logout' %}"><img src="{% static 'assets/img/icons/log-out.svg' %}" class="me-2" alt="img">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" >Account ID</a>
                    <a class="dropdown-item" >***94{{ user.account_no }}0</a>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">Main</h6>
                            <ul>
                                <li class="active">
                                    <a href="{% url 'home' %}"><i data-feather="grid"></i><span>Dashboard</span></a>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);"><i data-feather="smartphone"></i><span>Categories</span><span class="menu-arrow"></span></a>
                                    <ul>
{% for category in categories %}
    <li><a href="{% url 'giftweb:products_by_category' category_name=category.name|urlencode %}">{{ category.name }}</a></li>
{% endfor %}

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">Products</h6>
                            <ul>
                                <li><a href="{% url 'giftweb:home' %}"><i data-feather="box"></i><span>Products</span></a></li>
                                    <ul>
                                        {% for category in categories %}
                                <li><a href="{% url 'giftweb:products_by_category' category_name=category.name %}"><i data-feather="speaker"></i><span>{{ category.name|title }}</span></a></li>

                                        {% endfor %}                                
                                        <li><a href="{% url 'transactions:create_withdrawal' %}"><i data-feather="tag"></i><span>Withdraw</span></a></li>                                
                                        <li><a href="{% url 'transactions:payment_create' %}"><i data-feather="tag"></i><span>Deposit</span></a></li>
                                <li><a href="{% url 'transactions:history' %}"><i data-feather="align-justify"></i><span>Transaction History</span></a></li>
                            </ul>
                        </li>

                        <li class="submenu-open">
                            <h6 class="submenu-hdr">Links</h6>
                            <ul>

                                <li>
                                    <a href="{% url 'accounts:logout' %}"><i data-feather="log-out"></i><span>Logout</span> </a>
                                </li>
                            {% if user.is_authenticated and user.is_staff %}
                                <li>
                                    <a href="{% url 'accounts:select_user' %}"><i data-feather="log-out"></i><span>SEND EMAIL</span> </a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:change_password' %}"><i data-feather="log-out"></i><span>CHANGE PASSWORD</span> </a>
                                </li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

                <!-- main header @e -->                <!-- content @s -->
{% block content %}

{% endblock content %}
                <!-- content @e -->
                <!-- footer @s -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>

    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>
