{% load static %}




<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-white">
                <div class="row text-center">
                    <h5 class="text-color fw-bold">TESTIMONIAL</h5>
                    <h3 class="fw-bold display-5">Our Clients Say</h3>
                </div>
                <div class="container">
                    <div class="item col-md-12 pe-1">
                        <div class="card rounded-0 border-0">
                            <div class="card-header border-0">
                                <div class="row p-0">
                                    <div class="col-4 p-0" style="height:100px;width: 100px;" >
                                        <img src="{% static 'assetz/img/testimonial-1.jpg' %}" style="height:100px;width: 100px; border-radius: 50%;" alt="">
                                    </div>
                                    <div class="col-6 bx-0 ">
                                        <p class="h6 fw-semibold pt-4">John Reynolds </p>
                                        <p class="text-muted h6 text-sm-start">-CEO of TechVision Inc</p>
                                    </div>
                                    <div class="col-2 bg-light">
                                        <i class="fa fa-quote-right" style="font-size:48px;color:red; margin-top: -8px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <p class="text-muted fw-semibold">As the CEO of TechVision Inc., I rely on AmazonTracks for flawless logistics. Their commitment to excellence and precision has significantly boosted our operations. They are the best in the business.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12 pe-1">
                        <div class="card rounded-0 border-0">
                            <div class="card-header border-0">
                                <div class="row p-0">
                                    <div class="col-4 p-0" style="height:100px;width: 100px;" >
                                        <img src="{% static 'assetz/img/testimonial-2.jpg' %}" style="height:100px;width: 100px; border-radius: 50%;" alt="">
                                    </div>
                                    <div class="col-6 bx-0 ">
                                        <p class="h6 fw-semibold pt-4">Daniel Hughes</p>
                                        <p class="text-muted h6 text-sm-start">-Supply Chain Manager</p>
                                    </div>
                                    <div class="col-2 bg-light">
                                        <i class="fa fa-quote-right" style="font-size:48px;color:red; margin-top: -8px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <p class="text-muted fw-semibold">In my role as a Supply Chain Manager, I've worked with many logistics providers. AmazonTracks stands out with their unwavering dedication to customer satisfaction. Their services have transformed our supply chain.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12 pe-1">
                        <div class="card rounded-0 border-0">
                            <div class="card-header border-0">
                                <div class="row p-0">
                                    <div class="col-4 p-0" style="height:100px;width: 100px;" >
                                        <img src="{% static 'assetz/img/testimonial-3.jpg' %}" style="height:100px;width: 100px; border-radius: 50%;" alt="">
                                    </div>
                                    <div class="col-6 bx-0 ">
                                        <p class="h6 fw-semibold pt-4"> Robert Mitchell</p>
                                        <p class="text-muted h6 text-sm-start">-International Business Owner</p>
                                    </div>
                                    <div class="col-2 bg-light">
                                        <i class="fa fa-quote-right" style="font-size:48px;color:red; margin-top: -8px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <p class="text-muted fw-semibold">AmazonTracks is my trusted partner for international shipping. Their expertise and attention to detail have saved me countless headaches and costs. I highly recommend them for seamless logistics solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12 pe-1">
                        <div class="card rounded-0 border-0">
                            <div class="card-header border-0">
                                <div class="row p-0">
                                    <div class="col-4 p-0" style="height:100px;width: 100px;" >
                                        <img src="{% static 'assetz/img/testimonial-4.jpg' %}" style="height:100px;width: 100px; border-radius: 50%;" alt="">
                                    </div>
                                    <div class="col-6 bx-0 ">
                                        <p class="h6 fw-semibold pt-4">William Foster</p>
                                        <p class="text-muted h6 text-sm-start">-Manufacturing Manager</p>
                                    </div>
                                    <div class="col-2 bg-light">
                                        <i class="fa fa-quote-right" style="font-size:48px;color:red; margin-top: -8px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <p class="text-muted fw-semibold">As a Manufacturing Manager, efficient logistics is crucial. AmazonTracks's trucking service ensures our goods reach destinations unharmed and on time. They are the backbone of our supply chain.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-12 pe-1">
                        <div class="card rounded-0 border-0">
                            <div class="card-header border-0">
                                <div class="row p-0">
                                    <div class="col-4 p-0" style="height:100px;width: 100px;" >
                                        <img src="{% static 'assetz/img/testimonial-7.jpg' %}" style="height:100px;width: 100px; border-radius: 50%;" alt="">
                                    </div>
                                    <div class="col-6 bx-0 ">
                                        <p class="h6 fw-semibold pt-4">Richard Davis</p>
                                        <p class="text-muted h6 text-sm-start">-Art Collector</p>
                                    </div>
                                    <div class="col-2 bg-light">
                                        <i class="fa fa-quote-right" style="font-size:48px;color:red; margin-top: -8px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <p class="text-muted fw-semibold">AmazonTracks's storage facilities are a treasure for an art collector like me. Climate-controlled and secure, they provide peace of mind for my valuable assets. Choosing them for storage was a wise decision.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>